<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<!--네비바-->
    <nav th:replace="navbar :: navbarFragment"></nav>
<!--질문 등록버튼 & 검색영역-->
<div class="container my-3">
    <div class="container my-3">
        <div class="row my-3">
            <div class="col-6">
                <a type="button" class="btn btn-warning" th:href="@{sbb/question}">질문 등록하기</a>
            </div>
            <div class="col-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!--테이블-->
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="question : ${q}">
            <td th:text="${question.id}"></td>
            <td>
                <a th:text="${question.subject}" th:href="@{/sbb/detail/(id=${question.id})}"></a>
                <span class="badge rounded-pill text-bg-warning" th:if="${#lists.size(question.answerList) > 0}" th:text="${#lists.size(question.answerList)}"></span>
            </td>
            <td th:if="${question.siteUser != null}" th:text="${question.siteUser.username}"></td>
            <td th:text="${#temporals.format(question.createDate,'YYYY-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <!--    페이지네이션-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == q.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/sbb(page=${q.pageable.pageNumber - 1})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == q.pageable.pageNumber + 1} ? 'disabled'" th:each = "i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/sbb(page=${i - 1})}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${q.totalPages == q.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/sbb(page=${q.pageable.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    // document.addEventListener("DOMContentLoaded", () => {
    //     document.getElementById("btnQuestionPage").addEventListener("click", () => {  // "btnQuestionPage" 클릭 이벤트 발생 시,
    //         // let params = new FormData;                                        // params라는 새로운 FormData의 객체를 생성
    //         // params.append("content", document.getElementById("questionContentModify").value) //param에 "questionContentModify" id에서 적은 값(value)을 "content"에 append 하시오
    //         // params.append("id", "[[${param.id}]]")  // id는 id
    //         // params.append("subject", document.getElementById("questionTitle").innerText)  //
    //
    //         fetch("/sbb/question", {
    //             method: "GET",
    //             // body: {},
    //             headers: {}
    //         })
    //             .then((response) => {
    //                 if (response.ok) {
    //                     // return response.json()
    //                     window.location.href = "/sbb/question";
    //                 }
    //             })
    //             //콜백함수
    //             // .then((res) => {
    //             //     console.log(res.responseCode);
    //             //     if (res.responseCode === "성공") {
    //             //         // alert("수정성공");
    //             //         window.location.href = "/sbb/question";
    //             //     }
    //             // })
    //
    //             .catch((error) => alert(error))
    //     })
    // })


</script>
</body>
</html>